
.alert {
}

.alert.alert-info {
}

.alert.alert-warning {
}

.alert.alert-error {
}

.alert.alert-success {
}

.sqm-wrap {
}

.sqm-wrap main {
    margin-top: 25px;
}

.form-section {
    margin: 10px 0;
}

.no-click { pointer-events: none;}
.hidden { display: none;}
.bar-sep {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
